#about2 {
    background-image: url('../../assets/images/bg-main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15rem 0;
    position: relative;
    z-index: 1;

    & .mask {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
    }

    & .container {
        & .main_content {
            max-width: 380px;

            & h1 {
                color: #ffffff;
                font-size: 72px;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 4.82px;
                margin-bottom: 24px;
                text-transform: uppercase;
            }

            & p {
                font-size: 18px;
                color: #FFFFFF;
                margin-bottom: 3.5rem;
            }

            & .btn_bg {
                width: 270px;
                height: 60px;
                border: 1px solid #FAB448;
                position: relative;

                & button {
                    width: 270px;
                    height: 60px;
                    background-color: #FAB448;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    transition: all 0.3s linear;

                    &:hover {
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

#about_info {
    padding: 102px 0;
    background-image: url(../../assets/images/about_bg.png);
    background-repeat: no-repeat;
    background-position-y: 155px;

    & .container {
        & .about_us {
            display: flex;
            justify-content: space-between;
            align-items: start;

            & h2 {
                color: #262524;
                font-size: 60px;
                font-weight: 700;
                line-height: 72px;
                display: block;
                position: relative;
                margin-left: 70px;

                &::after {
                    content: "";
                    width: 40px;
                    height: 4px;
                    background-color: #FF9800;
                    position: absolute;
                    left: -60px;
                    top: 50%;
                }
            }

            & .about2_card {
                max-width: 800px;

                & .img_bg {
                    max-width: 810px;
                    height: 415px;
                    border: 1px solid #FAB448;
                    position: relative;
                    margin-bottom: 55px;

                    & img {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        transition: all 0.3s linear;

                        &:hover {
                            top: 0;
                            right: 0;
                        }
                    }
                }

                & p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #262524;
                    margin-bottom: 50px;
                }

                & .btn_bg {
                    width: 270px;
                    height: 60px;
                    border: 1px solid #FAB448;
                    position: relative;

                    & button {
                        width: 270px;
                        height: 60px;
                        background-color: #FAB448;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        transition: all 0.3s linear;

                        &:hover {
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
        }

        & .grid_container {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            padding: 102px 0 0 0;
            gap: 25px;

            & div {
                transition: all 1s ease;
                width: 360px;
                height: 234px;
                border: 1px solid #9e9e9e;
                padding: 36px 31px;

                & h5 {
                    color: #262524;
                    font-size: 56.5px;
                    font-weight: 700;
                    line-height: 68px;
                }

                & p {
                    color: #262524;
                    font-size: 18.7px;
                    font-weight: 400;
                }

                &:hover {
                    cursor: pointer;
                    background-image: url(../../assets/images/about-pic.jpg);
                    background-size: cover;

                    & h5,
                    p {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1535px) {
    #about_info {
        & .container {
            & .grid_container {
                & div {
                    width: 300px;
                    height: 180px;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    #about_info {
        & .container {
            & .about_us {
                display: block;

                & h2 {
                    margin-bottom: 46px;
                }

                & .about2_card {
                    max-width: 100%;

                    & .img_bg {
                        max-width: 100%;
                        height: 415px;

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & .btn_bg {
                        margin: 0 auto;
                    }
                }
            }

            & .grid_container {
                grid-template-columns: repeat(3, minmax(0, 1fr));

                & div {
                    & h5 {
                        font-size: 36px;
                    }

                    & p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    #about_info {
        & .container {
            & .grid_container {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                justify-content: space-between;

                & div {
                    width: 100%;
                    height: 180px;
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    #about2 {
        display: grid;
        place-content: center;
        height: 100vh;

    }
}

@media screen and (max-width:768px) {
    #about2 {
        & .container {

            & .main_content {
                & h1 {
                    font-size: 48px;
                }

                & p {
                    font-size: 16px;
                }

                & .btn_bg {
                    width: 250px;
                    height: 60px;

                    & button {
                        width: 250px;
                        height: 60px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #about_info {
        & .container {
            padding: 0 30px;

            & .about_us {
                & h2 {
                    margin-bottom: 46px;
                    font-size: 32px;
                    line-height: normal;
                }

                & .about2_card {
                    max-width: 100%;

                    & .img_bg {
                        max-width: 100%;
                        height: 215px;

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    & p {
                        font-size: 14px;
                    }

                    & .btn_bg {
                        width: 250px;
                        height: 60px;

                        & button {
                            width: 250px;
                            height: 60px;
                        }
                    }
                }
            }

            & .grid_container {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}