@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 10px;
    }
}

.active {
    color: #FF9800;
}